-title "Error: #{@error.message}"

-content_for :body do
  =haml :"errors/_error_info"

  %div(data-role="collapsible" data-collapsed=true)
    %h3
      Backtrace
    -@error.backtrace.each do |line|
      -if line !~ /\/usr/
        %span.fk_key
          &=line
      -else
        &=line
      %br
  %div(data-role="collapsible" data-collapsed=true)
    %h3
      Environment
    %table
      -@error.request_env.each do |k,v|
        %tr
          -if k =~ /^HTTP_/
            %td.name_key
              &="#{k}"
            %td
              &=v
          -elsif k =~ /^SERVER_/
            %td.pk_key
              &="#{k}"
            %td
              &=v
          -elsif k =~ /^REQUEST_/
            %td.type_key
              &="#{k}"
            %td
              &=v
          -else
            %td
              &="#{k}"
            %td
              &="#{v}"
  -if @error.similar_errors.count > 0
    %div(data-role="collapsible" data-collapsed=true)
      %h3
        Similar Errors
        ==(#{@error.similar_errors.count})
      %br
      =list_view(@error.similar_errors.all) { |error| [error_path(error), h(error.message)] }
      %br

  %div(data-role="collapsible" data-collapsed=true)
    %h3
      Comments
      ==("#{@error.comments_count}")
    -(@error.comments||[]).each do |comment|
      %div(data-role="collapsible" data-collapsed=false data-theme="b")
        %h3
          &= "#{comment["from"]}[#{comment["ip"]}] said on #{comment["created_at"]}"
        &= comment["message"]

    %hr
    %h3
      Add Comment
    %form(action="#{error_path(@error)}/comment" method="post")
      %div(data-role="fieldcontain")
        %label(for="from")
          From:
        %input(type="text" name="from" id="from")
      %div(data-role="fieldcontain")
        %label(for="message")
          Message:
        %textarea(cols="40" rows="8" id="message" name="message")

      %input(type="submit" value="Submit")

-content_for :footer do
  -if @error.resolved
    %a(href="#{error_path(@error)}/reopen" data-icon="check")
      Reopen this error
  -else
    %a(href="#{error_path(@error)}/resolve" data-icon="check" data-theme="e")
      Resolve this error
  %a(href="#{error_path(@error)}/resolve?include_similar=1" data-icon="check" data-theme="d")
    Resolve all similar errors
