!!! 5
%html
  %head
    %title
      =@title||"Bug Hunter"
    %link(rel="stylesheet" href="#{u('stylesheets/jquery.mobile-1.0b1pre.min.css')}")
    %link(rel="stylesheet" href="#{u('stylesheets/highlight.css')}")

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    %script(src="#{u('javascripts/jquery.mobile-1.0b1pre.min.js')}")

    %script(src="#{u('javascripts/bug_hunter.js')}")
  %body
    -yield # render page but doesn't display anything
    %div(data-role="page")
      %div(data-role="header" data-position="inline")
        %h1
          &= @title || "title is missing"
        %a(href="#{root_path}" data-icon="star" class="ui-btn-right" data-theme="e")
          Home
        =content(:header)
      %div(data-role="content")
        =content(:body)
      %div(data-role="footer")
        =content(:footer)


